google-calendar {
	accountId = "YOUR GOOGLE ACCOUNT ID"
	privateKey ="""
	YOUR PRIVATE KEY EXTRACTED FROM THE P12 FILE
	"""
	calendarId = "YOUR CALENDAR ID (see https://developers.google.com/google-apps/calendar/v3/reference/calendarList/list)"
}